.App {
  font-family: sans-serif;
  text-align: left;
}

.card {
  border: 2px solid black;
  width: 540px;
  height: auto;
  white-space: no-wrap;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.card::after {
  content: "";
  display: block;
}

.avatar {
  width: 400px;
  display: inline-block;
  padding: 10px;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.pill {
  max-width: 200px;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border-color: black;
  position: relative;
}
